@import 'react-bootstrap-buttons/dist/react-bootstrap-buttons.css';
/* @import 'bootstrap/dist/css/bootstrap.min.css'; */
.formContainer {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}

.formContainer {

    border: 1px solid rgb(129, 126, 126);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 70rem;
    
}

.ulForm {
    display: flex;
    flex-direction:row;
    justify-content: center;
    width:100%;
    align-items:center;
}

.liForm {
    margin:2%;
    width: 25%;
    display: flex;
    justify-content: center;

}