.containerLogin {
  width: 80%;
  margin: 0 auto;
  
}

.headerLogin {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.titleLogin {
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

span {
  color: #bd212e;
}


.containerLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;


  padding: 80px 60px;
  margin-top: 100px;
  background-color: var(--white);
    border-radius: 2rem;
    margin-bottom: 10rem;
    transition: 0.5s;
    box-shadow: 0 1px 1px 0 rgba(53, 53, 53, 0.2), 0 6px 20px 0 rgba(53, 53, 53, 0.2);

}

.inputForm {
  padding: 10px;
  width: 400px;
  height: 50px;
  margin: 20px;
  border: none;
  background: transparent;
  border-bottom: 2px solid #1c1a1b;
}

input[type="text"],
[type="password"],
[type="email"] {
  font-size: 16px;
  color: #1c1a1b;
}

.btnLogin{
  margin-top: 3rem;
  font-size: 1.6rem;
  background-color: var(--red);
  color: var(--white);
  height: 5rem;
  width: 20rem;
  border: none;
  border-radius: 3rem;
  cursor: pointer;
  text-align: center;
  transition: 0.5s;
}

.btnLogin:hover{
  background-color: #a4010f;
}