.containerEmpresa{
display: flex;
margin: 10rem;
}
.imagenEmpresa{
    width: 60rem;
}
.containerImagen{
    width: 40%;
    height: auto;

}
.containerCont{
width: 50%;
height: auto;
}
.titulo{
    font-size: 2.5rem;
    font-weight: bold;
}