
.dataUsers{
    padding: 2rem;
}

.css-ubg1nw {
    background-color: var(--gray);
    border-radius: 2rem;
    border: none;

    }


    .css-b0qdn7 {
        background-color: var(--gray);
        border-radius: 2rem;
    } 